:root {
    --primary-color: #757575;
    --background-color:#FFFFFF;
    --hover-color: #2196F3;
    --title-color: #2F303A;
}


body {
    color: var(--primary-color);
    background-color:var(--background-color);

    font-family: Roboto,  Roboto;
    
}


/* цвета заголовков*/
h2,h3,h4,h5,h6 {
    color: var(--title-color);
}
/* убрать точечки*/
ul {
    list-style: none;
}
/* убрать подчеркивание*/
a {
    text-decoration: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

/* logo*/
.logo {
    color:var(--hover-color);
    font-family:Oleo Script, Raleway;
    
    font-size: 26px;
    line-height: 1.19px;
}

.logo-accent {
    color: var(--title-color);
    font-family: Oleo Script, Raleway;

    font-size: 26px;
    line-height: 1.19px;
}
/* site-nav*/

.site-nav-link {
    color:var(--title-color);

    Font-size: 14px;
    Line-height: 1.14;
    font-weight: 500;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--hover-color);
}

.site-nav-link.current {
    color: var(--hover-color);
} 

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* contact-nav*/
.contact-nav-link {
    color: var(--primary-color);

    Font-size: 14px;
    Line-height: 1.14;
    font-weight: 500;

}

.contact-nav-link:hover,
.contact-nav-link:focus {
    color: var(--hover-color);
    
}


/* hero*/
.hero {
    background-color: var(--title-color);

    height: 600px;
        width: 1300px;
        left: 0px;
        top: 80px;
        border-radius: [object Object]px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30;

    color: var(--background-color);
    Font-size: 44px;
    Line-height: 1.36;
    font-weight: 900;
    text-align: center;
    
    outline: tomato;
}


/* button*/
.hero-button {
    
    display: block ;
    border-radius: 4px;
    padding: 10 32;
    margin-left: auto;
    margin-right: auto;

    height: 50px;
    min-width: 200px;
    
    color: var(--background-color);
    background-color: var(--hover-color);
    border-color: transparent;

    font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
}

.section-benefits {
    margin-top: 94px;
    color: var(--title-color);

    outline: tomato;
}

.section-benefits h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-title {
    outline: tomato;
}

/*class=work*/
.work-title {
    
    Font-size: 36px;
    Line-height: 1.16;
    font-weight: 700;
    text-align: center;
}

/* seckond background*/
.team {
background-color: #F5F4FA;
Font-size: 16px;
Line-height: 1.17;
font-weight: 500;
}

.team-title {
Font-size: 36px;
Line-height: 1.16;
font-weight: 700;
text-align: center;
}

.section-team h2 {
    margin-top: 94px;
    margin-bottom: 50px;
}

.section-team {
    padding-top: 94px;
    color: var(--title-color);
    background-color:  #F5F4FA;;

    outline: tomato;
}



/* footer*/
footer {
    background-color: var(--title-color);
    width: 1600px;
    height: 252px;
}

.site-nav-adres {
    color: var(--background-color);

Font-size: 14;
Line-height: 1.71;
font-weight: 400;
}

.site-nav-adres:hover,
.site-nav-adres:focus {
    color: var(--hover-color);
}

.site-nav-contact {
    color: rgba(255, 255, 255, 0.6);

    Font-size: 14;
        Line-height: 1.71;
        font-weight: 400;
}
 
.site-nav-contact:hover,
.site-nav-contact:focus {
    color: var(--hover-color);
}

.logo-footer {
    color: var(--hover-color);
        font-family: Oleo Script, Raleway;
    
        font-size: 26px;
        line-height: 1.19px;
}

.logo-accent-footer {
    color: var(--background-color);
        font-family: Oleo Script, Raleway;
    
        font-size: 26px;
        line-height: 1.19px;
}