:root {
    --primary-color: #757575;
    --background-color: #FFFFFF;
    --hover-color: #2196F3;
    --title-color: #212121;
    --background-button-portfolio: #F5F4FA;
    
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);

    font-family: Roboto, Roboto;
}

/* color of title*/
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}
/* убирает точки*/
ul {
    list-style: none;
}

/* убрать подчеркивание*/
a {
    text-decoration: none;
}
/*logo*/
.logo {
    color: var(--hover-color);
    font-family: Oleo Script, Raleway;

    font-size: 26px;
    line-height: 1.19px;
}

.logo-accent {
    color: var(--title-color);
    font-family: Oleo Script, Raleway;

    font-size: 26px;
    line-height: 1.19px;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--hover-color);
}

.site-nav-link.current {
    color: var(--hover-color);
}

/* contact-nav*/
.contact-nav-link {
    color: var(--primary-color);

    Font-size: 14px;
    Line-height: 1.14;
    font-weight: 500;
}

.contact-nav-link:hover,
.contact-nav-link:focus {
    color: var(--hover-color);
}
/* button*/
.page-nav {
    color: var(--title-color);
}

button {
    font-family: inherit;   
}
.page-nav-button {
    border: #F5F4FA;
}

.page-nav-button {
    color: var(--title-color);
    background-color: var(--background-button-portfolio);
}

.page-nav-button:hover,
.page-nav-button:focus {
    background-color: var(--hover-color);
    color: var(--background-color);
}

/*footer*/
footer {
    background-color: var(--title-color);
}

.site-nav-adres {
    color: var(--background-color);
}

.site-nav-adres:hover,
.site-nav-adres:focus {
    color: var(--hover-color);
}

.site-nav-contact {
    color: rgba(255, 255, 255, 0.6);
}

.site-nav-contact:hover,
.site-nav-contact:focus {
    color: var(--hover-color);
}

.logo-footer {
    color: var(--hover-color);
    font-family: Oleo Script, Raleway;

    font-size: 26px;
    line-height: 1.19px;
}

.logo-accent-footer {
    color: var(--background-color);
    font-family: Oleo Script, Raleway;

    font-size: 26px;
    line-height: 1.19px;
}